@{
    ViewBag.Title = "Home Page";
}

<style>
    .box {
        position: relative;
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    .gray {
        background-color: #a0a0a0
    }

    .dimgray {
        background-color: #5c5c5c
    }

    .box span {
        font-size: 80px;
        font-weight: 500;
        color: white;
    }
</style>

<div style="height:500px; text-align:center;margin-top:8%; overflow:auto;">
    <div class="box gray"><span>B</span></div>
    <div class="box dimgray"><span>R</span></div>
    <div class="box gray"><span>I</span></div>
    <div class="box dimgray"><span>E</span></div>
    <div class="box gray"><span>F</span></div>
    <div class="box dimgray"><span>S</span></div>
    <div class="box gray"><span>Y</span></div>
    <div class="box dimgray"><span>S</span></div>
</div>

<script>
    anime({
        targets: "div.box.gray",
        backgroundColor: '#5c5c5c',
        direction: 'alternate',
        delay: 500,
        duration: 1000,
        loop: true
    });
    anime({
        targets: "div.box.dimgray",
        backgroundColor: '#a0a0a0',
        direction: 'alternate',
        delay: 500,
        duration: 1000,
        loop: true
    });
</script>