@{
    ViewBag.Title = "Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <a class="btn btn-success" href="@Url.Action("CreateOrden","RH")" style="float: right;">Añadir registro</a>
    <br />
    <br />
    <div id="divTabla">
    </div>
</div>

<script type="text/javascript">
    obtenerDatos("GET", "CMP", "Orden", true);
</script>