@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="tblDepartamentos">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
</table>

<script src="~/Content/scripts/DynamicTable.js"></script>