@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="divTabla">

</div>

<script src="~/Content/scripts/DynamicTable.js"></script>