/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.inactive {
        margin-left: -250px;
    }

    #sidebar ul.components {
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar h3 {
        padding-bottom: 20px;
        border-bottom: 1px solid #ffffff;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #ffffff;
        text-decoration: none;
    }

        #sidebar ul li a:hover {
            background: #205390;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #ffffff;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.imagenPerfil {
    width: 55pt;
    height: 55pt;
    border-radius: 40pt;
    border: 2pt solid white;
    text-align: center;
}

/*.divSide {
    font-size: 0.9em !important;
    padding-left: 30px !important;*/
/*background: #6d7fcc;*/
/*color: #ffffff;
}*/
