<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BriefSys</title>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Content/anime-master/lib/anime.min.js"></script>
    <script src="https://kit.fontawesome.com/cdf84bd046.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button type="button" id="sidebarCollapse" class="btn btn-dark">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">BriefSys</a>

    </nav>

    <div class="globalcontainer">
        @{Html.RenderAction("SideMenu", "Shared");}

        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - BriefSys</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
