@{
    ViewBag.Title = "Puestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="tblPuestos">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
</table>